.sidebar-container {
    position: relative;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 40px;
}

.username {
    width: 150px;
    position: absolute;
    margin: 4px auto;
    font-weight: 600;
    font-size: 20px;
    color: #94d4d2;
    top: 180px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
}

.username:hover {
    overflow: visible;
    white-space: normal;
    position: absolute;
    z-index: 1;
    max-width: 400px;
  }

  .signout-button {
    width: 225px;
    height: 90px;
    color: #94d4d2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: 0.2s ease;
    background-color: rgba(244, 187, 146, 0);
  }
  
  .signout-button.active {
    background-color: rgb(69, 163, 170);
    color: #ffff;
    transform: scale(1.05);
  }
  
  .signout-button:hover {
    color: #ffff;
  }